absl-py @ file:///tmp/build/80754af9/absl-py_1615411197583/work
albumentations==0.4.5
appdirs==1.4.4
asn1crypto==1.2.0
astor==0.8.1
astroid==2.4.2
Augmentor==0.2.8
autopep8==1.5.3
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
batchgenerators==0.21
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
bleach==1.5.0
blessed==1.18.0
blessings==1.7
blinker==1.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1613246439577/work
chainer==6.5.0
chainercv==0.13.1
chardet @ file:///tmp/build/80754af9/chardet_1607706739153/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
cmake==3.17.3
colorlog==4.0.2
conda==4.9.2
conda-build==3.0.27
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018143336/work
conda-verify==3.4.2
configparser==5.0.0
coverage @ file:///tmp/build/80754af9/coverage_1614614208500/work
cryptography @ file:///tmp/build/80754af9/cryptography_1615532099045/work
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1614014843172/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1615055117017/work
dataclasses==0.8
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
Deprecated==1.2.12
easydict==1.9
efficientnet-pytorch==0.6.3
einops==0.3.0
elasticdeform==0.4.6
faiss==1.5.3
faiss-gpu==1.6.3
fcn==6.4.17
filelock @ file:///home/linux1/recipes/ci/filelock_1610993975404/work
flake8==3.8.2
flyingcircus==0.1.4.0
flyingcircus-numeric==0.1.1.2
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gdown==3.8.3
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
gpustat==0.6.0
grpcio @ file:///tmp/build/80754af9/grpcio_1614884176509/work
h5py==3.1.0
html5lib==0.9999999
humanize==3.7.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imgaug==0.4.0
importlib-metadata==3.9.0
isort==4.3.21
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonpatch==1.32
jsonpointer==2.1
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
lazy-object-proxy==1.4.3
linecache2==1.0.0
Markdown @ file:///tmp/build/80754af9/markdown_1614363833670/work
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mccabe==0.6.1
MedPy==0.4.0
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.3
mpmath==1.2.1
munch==2.5.0
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nibabel==2.5.1
NiftyNet==0.6.0
noise==1.2.2
nose==1.3.7
numeral==0.1.0.17
numex==0.0.0.7
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.5
patsy==0.5.1
Pillow==7.1.2
pip-conflict-checker==0.6.0
pkginfo==1.7.0
pretrainedmodels==0.7.4
progress==1.5
protobuf==3.15.6
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydicom==1.4.2
pyflakes==2.2.0
pylidc==0.2.2
pylint==2.5.3
pymrt==0.0.3.4
pynrrd==0.4.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305763431/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-slugify==4.0.0
pytk==0.0.2.1
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658315997/work
PyYAML==5.4.1
pyzmq==22.0.3
raster-geometry==0.1.4.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1592502882723/work
scipy @ file:///tmp/build/80754af9/scipy_1597686625380/work
seaborn==0.9.0
segmentation-models-pytorch==0.1.0
setuptools-scm==6.0.1
Shapely==1.7.1
SimpleITK==1.2.4
six @ file:///tmp/build/80754af9/six_1605205335545/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1614023247537/work
SQLAlchemy==1.3.18
statsmodels @ file:///tmp/build/80754af9/statsmodels_1614023745203/work
sympy==1.8
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
tensorrt==0.0.1
termcolor==1.1.0
text-unidecode==1.3
tflearn==0.3.2
thop==0.0.31.post2005241907
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.1
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.8.0+cu111
torch-tb-profiler==0.1.0
torchaudio==0.8.0
torchcontrib==0.0.2
torchfcn==1.9.6
torchfile==0.1.0
torchio==0.18.40
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.9.0+cu111
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traceback2==1.4.0
typed-ast==1.4.1
typing==3.6.6
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
unittest2==1.1.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
visdom==0.1.8.9
vtk==9.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
wget==3.2
wrapt==1.12.1
xlrd==1.2.0
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
